li {
    height: 100px;
    display: block;
}

.station {
    width: 20px;
    height: 20px;

}

.train-time {
    margin-left: 35px;
    width: 270px;
    height: 60px;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 3px;
    padding-left: 10px;
    padding-bottom: 3px;
}

.train-time span {
    display: block;
}

.train-time table {
    border-collapse: collapse;
    color: #575757;
}

.favoured {
    fill: #ce0000;
}



.unFavoured {
    fill: #e9e9e9;
}

.favour {
    width: 20px;
    top: 3px;
    position: relative;
    display: inline-block;
}

.train-detail-info {
    width: 150px;
    height: 60px;
    position: relative;
    left: 25px;
    top: -45px;

    display: inline-block;
}

.train-detail-info svg .st0 {
    fill: #e9e9e9;
}

.train-detail-info svg .st2 {
    fill: #231815;
}

.train-detail-info svg .st3 {
    font-family: 'MiSans-Demibold';
}

.train-detail-info svg .st4 {
    font-size: 10px;
}

.train-detail-info svg .st5 {
    letter-spacing: -1;
}

.train-detail-info svg .st6 {
    fill: none;
}

.train-detail-info svg .st7 {
    font-family: 'MiSans-Bold';
}

.train-detail-info svg .st8 {
    fill: #292929;
}

.train-detail-info svg .st9 {
    font-size: 7px;
}

.train-detail-info svg .st10 {
    font-size: 10.1543px;
}


.train-time table .gold {
    color: #D4AF37;
}

.train {
    width: 20px;
    margin-left: 5px;
    display: block;
    position: absolute;
    z-index: 3;
}

.train path {
    fill: #EA7600;
}

.station-name {
    margin-left: 2px;
    text-align: center;
    color: #575757;
    font-weight: normal;
    position: absolute;
}

.red {
    color: rgb(219, 21, 21);
}

.line {
    width: 20px;
    height: 70px;
}