<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>南京地铁列车实时查询_宁天线S8</title>
    </title>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- 引入css样式 -->
    <link rel="stylesheet" href="./css/base.css">
</head>

<body>
    <!-- <div id="app" style="width: 1900px;"> -->
    <div id="app" style="width: 100%;">
        <div style="background-clip:content-box;padding-top: 10px;">
            <div class="head-info">
                <img src="./assets/icon/S8_icon.svg" alt="" style="width: 80px; margin-left: 10px; margin-right: 10px;">
                <h1 style="display: inline-block; height: 30px; margin-bottom: 0px; padding-bottom: 5px;">宁天线</h1>
                <h2 style="color: #EA7600; margin-left: 15px; ">
                    <span>开往 {{directionText}}</span>
                    <span style="color: #B3B3B3;" @click="reverseDirection">
                        <img src="./assets/icon/reversing.svg" style="width: 36px; margin-left: 20px;" alt="">
                        换向
                    </span>
                </h2>

            </div>
            <div class="info">
                <h3 style="color: #EA7600; margin-left: 30px; margin-left: 15px; margin-bottom: 0px; margin-top: 5px;"
                    v-show="stationInfo.name">
                    <b>{{stationInfo.name}}</b> 最近列车:
                </h3>
                <div style="margin: 0; height: 20px; padding: 0;">
                    <ul>
                        <li v-for="train in stationInfo.trains" v-if="train.status">
                            <span class="train-time"><b>{{train.status}}</b>/{{train.eta}}</span>
                        </li>
                    </ul>
                </div>

            </div>

            <template>
                <iframe name="stationIframe" ref="stationIframe" src="./stations.html" frameborder="0" width="98%"
                    height="280px" style="margin-left: 20px;"></iframe>
            </template>

        </div>
    </div>
</body>

<script src="./js/axios-0.18.0.js"></script>
<script src="./js/main.js"></script>

</html>