<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S8 -> 长江大桥北</title>
    </title>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <style>
        span {
            float: left;
        }

        .line {
            width: 70px;
            height: 30px;
            display: inline-block;
        }

        .station {
            width: 30px;
            height: 40px;
            display: inline-block;

        }

        .train {
            width: 30px;
            height: 30px;
            position: absolute;
        }

        .train path {
            fill: #EA7600;
        }

        .station-name {
            text-align: center;
            font-weight: bold;
            color: #EA7600;
        }

        .info {
            height: 70px;
        }

        .info h3 {
            font-weight: 500;
        }

        .train-time {
            font-size: 18px;
            margin-left: 5px;
            margin-right: 5px;
        }

        ul {
            list-style: none;
        }
    </style>
</head>

<body>
    <div id="app" style="width: 480%;">
        <div style="background-clip:content-box; padding: 10px 5px;">
            <div class="info">
                <h2 style="color: #EA7600;">开往 长江大桥北</h2>
                <h3 style="color: #EA7600; margin-left: 30px;" v-show="stationInfo.name">
                    <b>{{stationInfo.name}}</b> 最近列车:
                </h3>
                <ul>
                    <li v-for="train in stationInfo.trains">
                        <span class="train-time"><b>{{train.status}}</b> / {{train.eta}}</span>
                    </li>
                </ul>
            </div>
            <span class="train" style="left: 28px;" id="S8-001" v-if="false">
                <svg t="1665664186507" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    p-id="6025">
                    <path
                        d="M343.9 641.3c29.9 1 54.3 26.7 54 57.1-0.3 31.8-27.6 58.4-58.4 56.9-30.5-1.5-54.1-26.7-53.8-57.5 0.2-32.3 26.3-57.6 58.2-56.5zM740.1 697.6c0.2 32-26.1 58.6-57.3 57.7-30.2-0.8-54.3-25.8-54.8-56.7-0.4-30.3 23.8-56.1 53.7-57.3 31.9-1.2 58.2 24.2 58.4 56.3z"
                        p-id="6026"></path>
                    <path
                        d="M861.6 686.8V214.3c0-84.1-68.4-152.5-152.5-152.5H316.9c-84.1 0-152.5 68.4-152.5 152.5v472.5c0 73.8 52.6 135.4 122.3 149.5l-86.3 87.9c-8.4 8.6-8.3 22.4 0.3 30.8 4.2 4.2 9.8 6.2 15.3 6.2 5.6 0 11.3-2.2 15.5-6.5l113.3-115.4H683l110.4 115.8c4.3 4.5 10 6.7 15.8 6.7 5.4 0 10.8-2 15-6 8.7-8.3 9-22.1 0.7-30.8l-84.8-88.9c69.3-14.4 121.5-75.9 121.5-149.3zM818 563.1H208V301.4h610v261.7zM316.9 105.4H709c60.1 0 108.9 48.9 108.9 108.9v43.6H208v-43.6c0-60.1 48.9-108.9 108.9-108.9z m392.2 690.3H316.9c-60.1 0-108.9-48.9-108.9-108.9v-80.2h610v80.2c0 60-48.9 108.9-108.9 108.9z"
                        p-id="6027" data-spm-anchor-id="a313x.7781069.0.i0"></path>
                    <path
                        d="M390.2 206.2h243.7c12 0 21.8-9.8 21.8-21.8s-9.8-21.8-21.8-21.8H390.2c-12 0-21.8 9.8-21.8 21.8s9.7 21.8 21.8 21.8z"
                        p-id="6028"></path>
                </svg>
            </span><br><br>

            <ul>
                <li v-for="(name,index) in names">
                    <span class="station" @click="getStationInfo($event, index)" :id="index">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                            <circle cx="15" cy="20" r="12" stroke="#EA7600" stroke-width="5" fill="none" />
                        </svg>
                        <span class="station-name">{{name}}</span>
                    </span>
                    <span class="line" v-show="index!=names.length-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                            <line x1="0" y1="20" x2="70" y2="20" stroke="#EA7600" stroke-width="4" />
                        </svg>
                    </span>
                </li>
            </ul>

        </div>
    </div>
</body>
<!-- <script type="text/javascript" src="./assets/timetable/S801.json"></script> -->
<script src="./js/axios-0.18.0.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            line: "S8",
            firstStation: 28,
            lastStation: 1828,
            perSegment: 100,    //每站移动100px
            names: ["金牛湖", "八百桥", "沈桥", "方州广场", "凤凰山公园", "雄州", "龙池", "六合开发区", "化工园", "长芦", "葛塘", "大厂", "卸甲甸", "信息工程大学", "高新开发区", "泰冯路", "泰山新村", "毛纺厂路", "长江大桥北"],
            stationInfo: {
                id: "",
                name: "",   //站名
                trains: []
            }   //最近的n辆车
        },
        methods: {
            resetStationStyle(station) {
                if (this.stationInfo.id == "") {
                    return;
                }
                this.stationInfo.name = "";
                let s = document.getElementById(this.stationInfo.id).firstChild.firstChild;
                s.setAttribute("fill", "none");
            },
            setStationStyle(station, index) {
                this.resetStationStyle();
                this.stationInfo.id = index;
                this.stationInfo.name = this.names[index];
                let s = station.firstChild.firstChild;
                s.setAttribute("fill", "#EA7600");
            },

            getStationInfo(event, index) {
                //设置样式
                console.log(event.currentTarget.id);
                this.setStationStyle(event.currentTarget, index);
                this.setTrainTime(index);
            },

            async loadTimeTable(url) {
                let data = await axios.get(url).then(res => {
                    return res.data;
                }, res => {
                    console.log('Load ' + url + ' Error!');
                })
                return data;
            },

            setTrainTime(stationId) {
                stationId += 1;
                if (stationId < 10) {
                    stationId = '0' + stationId
                }

                //加载时刻表
                let fileName = './assets/timetable/' + this.line + stationId + '.json';
                this.loadTimeTable(fileName).then(res => {
                    //获取最近的班次 res为该站时刻表 1s刷新一次
                    this.getLatestTrainTime(res, false, 3);
                });
                // const isWorkDay = this.isWorkDay(nowtime);
            },

            getLatestTrainTime(timetable, isUp, trainNumber) {
                let _timetable;
                if (this.isWorkDay()) {
                    //工作日 上/下行
                    _timetable = isUp ? timetable.up_workday : timetable.down_workday;
                } else {
                    //休息日 上/下行
                    _timetable = isUp ? timetable.up_weekend : timetable.down_weekend;
                }

                setInterval(() => {
                    this.stationInfo.trains = [];
                    let nowtime = new Date();
                    let _now = nowtime.getHours() + ':' + nowtime.getMinutes();
                    let currentIndex = _timetable.indexOf(_now);
                    if (currentIndex == -1) {
                        //当前时间(13:32)不在时刻表
                        _timetable.push(_now);
                        _timetable.sort();
                        currentIndex = _timetable.indexOf(_now);
                        console.log(_timetable[currentIndex])
                        _timetable.splice(currentIndex, 1);
                    }

                    for (i = 0; i < trainNumber; i++) {
                        // console.log(_timetable)
                        _t = _timetable[currentIndex + i];

                        console.log(i + ':' + _t);
                        let train = {}
                        train['eta'] = _t;

                        let remainMin = this.calcRemainMins(_now, _timetable[currentIndex + i]);
                        if (remainMin == 0) {
                            if (nowtime.getSeconds() < 15) {
                                train['status'] = "即将到达";
                            } else {
                                train['status'] = "车已到站";
                            }
                        } else train['status'] = this.calcRemainMins(_now, train['eta']) + '分钟';

                        this.stationInfo.trains.push(train);
                    }
                }, 3000);

            },

            //pre 15:36 pre 15:48 return 12
            calcRemainMins(pre, late) {
                h1 = parseInt(pre.split(':')[0]);
                m1 = parseInt(pre.split(':')[1]);
                h2 = parseInt(late.split(':')[0]);
                m2 = parseInt(late.split(':')[1]);
                if (h1 == h2) {
                    return m2 - m1;
                } else {
                    return m2 + 60 * (h2 - h1) - m1;
                }
            },

            //判断是否为工作日
            isWorkDay() {
                let nowtime = new Date();
                if (nowtime.getDay() === 0 || nowtime.getDay() === 6) {
                    return false;
                }
                return true;
            },

            //移动列车
            //@Param step: 移动像素数
            //@Param trainId :移动的列车id
            // move(step, trainId) {
            //     let train = document.getElementById(trainId);
            //     let o_left = parseInt(train.style.left);
            //     if (o_left >= this.lastStation) {
            //         return;
            //     }
            //     let next_left = o_left + step;
            //     train.style.left = next_left + "px";
            // },

            // calcStep(preStation, nestStation) {

            // },

            // moveTrain() {
            //     setInterval(() => {
            //         this.move(1, "S8-001");
            //     }, 25);
            // },

            // setTrain() {

            // }
        },
        created() {
            // this.moveTrain();
        }
    })
</script>

</html>