<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>stations</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/stations-frame.css">
</head>

<body style="width: 100%; overflow:scroll;overflow-x:hidden;" draggable="true">
    <div id="app_mobile_iframe">

        <span v-for="train in trains" class="train" v-if="train.positon!=-1" :style="{top:train.position}">
            <img :src="'./assets/icon/train/'+line+'.svg'" alt="">
        </span>

        <span style="position:absolute; z-index:1;">
            <svg xmlns="http://www.w3.org/2000/svg" width="20px" :height="20+100*(stations.length-1)+'px'">
                <line x1="16" y1="0" x2="16" :y2="20+100*(stations.length-1)" :stroke="color" stroke-width="12" />
            </svg>
        </span>

        <ul>
            <li v-for="(station,index) in stations" style="z-index:2; position: relative;"
                @click="getStationInfo(index)" :id="station.index">
                <span class="station">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px">
                        <circle cx="10" cy="10" :r="station.radius" :stroke="color" :stroke-width="station.strokeWidth"
                            :fill="station.color" />
                    </svg>
                </span>
                <span class="station-name">{{station.name}}</span>
                <div class="train-time" :style="{border:color+' solid 2px'}"
                    v-show="currentStationId == index && stations[index].trains.length>0">
                    <table>
                        <tr v-for="train in stations[index].trains" :class="{gold: train.type.includes('快车')}">
                            <td>{{train.status}}</td>
                            <td>{{train.eta}}</td>
                            <td>To: {{train.terminal}}</td>
                            <td v-show="train.type!='普通车'">{{train.type}}</td>
                        </tr>
                    </table>
                </div>
            </li>
        </ul>
    </div>

</body>
<script src="./js/axios-0.18.0.js"></script>
<script src="./js/iframe-main.js"></script>

</html>